/* We've given you some basic styles to save you time. */
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; background-color: #f2f2f2; }
#main-content { width:705px; padding:25px; margin:30px auto; border:1px solid #d3d3d3; background-color: white; }
form div { margin-bottom:10px; }
form label { width:70px; text-align:right; color:#888888; display:inline-block; font-size:12px; }
form input { width:179px; margin-left:5px; padding:3px; border:1px solid #888888; border-radius:3px; display:inline-block; font-size:12px; }
form button { margin-left:80px; display: inline-block; padding: 2px 10px 2px 10px; background-image: linear-gradient(to bottom, #4e92ba, #307ca9); color:white; border:1px solid; border-color: #307ca9 #307ca9 #1f506d; border-radius:3px; font-size:13px; }


/* Card font: 13px and #333333 */

/* Put your styles here */


/* Border box, because honestly, it's the best box model 
   We can go back and forth about this, but reall, padding 
   that DOESN'T add to the width? Let's BE REAL. It's 
   pretty great. 
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Employee stylings */

/* Employee List */

hr {
	margin: 16px 0;
}

button[type=submit] {
	cursor: pointer;
}

.employee-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

	.employee {
		width: 32%;
		margin: 0.5% 0.5%; 
		display: inline-block;
		vertical-align: top; 
		position: relative;
		cursor: default;
	}

	.employee-content {
	  	padding: 8px;
		border: 1px solid;
	}

		.employee-remove {
			position: absolute;
			top: 8px;
			right: 8px;

			opacity: 0;
			width: 11px;
			height: 11px;
			background: url(../img/close.png) no-repeat center center;
			cursor: pointer;
		}

		.employee:hover .employee-remove {
			display: inline-block;
			opacity: 1;
			transition: opacity 400ms linear;
		}


		.employee-content-photo {
			display: inline-block;
			width: 35%;
			float: left;
		}
			.employee-avatar {
				width: 100%;
			}

		.employee-content-name {
			display: inline-block;
			margin: 0;
			width: 65%;
			padding: 5%;
		}


/* 	CLEAR FIX IT. 
	BEHOLD THE GLORY OF THAT GENERIC
	NAMING CONVENTION. GROUP? BRILLIANT. 
*/
.content-group:after {
  content: "";
  display: table;
  clear: both;
}

